@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Very-light-gray);
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 30px auto;
  min-height: calc(100vh - 60px);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

.box {
  background-color: var(--Bright-orange);
  padding: 30px;
}

.box img {
  margin-top: 20px;
}
.cyan {
  background-color: var(--Dark-cyan);
}

.dark-cyan {
  background-color: var(--Very-dark-cyan);
}

.box h1 {
  color: var(--Very-light-gray);
  margin: 30px 0;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  letter-spacing: 1px;
  font-size: 40px;
}

.box p {
  margin-bottom: 100px;
  line-height: 1.7;
  font-size: 15px;
  color: var(--Transparent-white);
}

.box a {
  display: block;
  background-color: var(--Very-light-gray);
  padding: 15px 40px;
  color: var(--Bright-orange);
  text-decoration: none;
  border-radius: 30px;
  width: fit-content;
  margin: 0 auto 30px;
  transition: 0.4s;
  border: 2px solid #fff;
}

.cyan a {
  color: var(--Dark-cyan);
}
.dark-cyan a {
  color: var(--Very-dark-cyan);
}

.box a:hover {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

@media (max-width: 375px) {
  body {
    width: 100%;
  }
  .box p {
    margin-bottom: 40px;
    width: 235px;
  }
  .box a {
    margin: 0 0 30px;
  }
}
